/*COLOR PALETTE: NERO #231F20 / LIGHT GREY #EAEAEA / BLUE #2E9CCA*/

body {
    background-color: white;
    margin: 0;
}

div {
    background-color: #2E9CCA;
}

h1 {
    margin-top: 0;
}

.middle {
    width: 200px;
    height: 200px;
    background-color: #EAEAEA;
}

.bottom {
    width: 200px;
    height: 200px;
    background-color: #212121;
}