/******************** TAG SELECTORS ************************/

h1 {
    color: red;
    font-size: 200px;
}

/*img {
    background-color: red;
}*/


/******************** ID SELECTORS ************************/


#bacon {
    background-color: green;
}

#broccoli {
    background-color: red;
}